[data-loading="circle"]{
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius:50%;
    border-top-color: transparent;
    -webkit-animation: circle infinite .8s linear;
            animation: circle infinite .8s linear;
}
[data-loading="circle-half"]{
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius:50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-animation: circle infinite .8s linear;
            animation: circle infinite .8s linear;
}
[data-loading="circle-slide"]{
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius:50%;
    border-top-color: rgba(0,0,0,.2);
    border-bottom-color: rgba(0,0,0,.2);
    border-left-color: rgba(0,0,0,.2);
    -webkit-animation: circle infinite .8s linear;
            animation: circle infinite .8s linear;
}
@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
           -moz-transform: rotate(0);
              -o-transform:rotate(0);
                transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
              -o-transform:rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes circle {
    0% {
        -webkit-transform: rotate(0);
           -moz-transform: rotate(0);
              -o-transform:rotate(0);
                transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
              -o-transform:rotate(360deg);
                transform: rotate(360deg);
    }
}
[data-loading="circle-arrow"]{
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius:50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-animation: circle-arrow infinite .8s linear;
            animation: circle-arrow infinite .8s linear;
}
[data-loading="circle-arrow"]:after{
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    left: 0;
    border: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transform: rotate(-38deg);
}
[data-loading="circle-arrow"]:before{
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: 1px;
    border: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transform: rotate(135deg);
}
@-webkit-keyframes circle-arrow {
    0% {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
              -o-transform:rotate(360deg);
                transform: rotate(360deg);

    }
    100% {
        -webkit-transform: rotate(0);
           -moz-transform: rotate(0);
              -o-transform:rotate(0);
                transform: rotate(0);
    }
}
@keyframes circle-arrow {
    0% {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
              -o-transform:rotate(360deg);
                transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0);
           -moz-transform: rotate(0);
              -o-transform:rotate(0);
                transform: rotate(0);
    }
}
[data-loading="bull-line"]{
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-animation: bullScale infinite .9s cubic-bezier(.21,.53,.56,.8);
            animation: bullScale infinite .9s cubic-bezier(.21,.53,.56,.8);
}
[data-loading="bull-line"]:after,
[data-loading="bull-line"]:before{
    position: absolute;
    left: -2px;
    top: -2px;
    display: block;
    content: '';
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-animation: bullScale infinite .9s cubic-bezier(.21,.53,.56,.8);
            animation: bullScale infinite .9s cubic-bezier(.21,.53,.56,.8);

}
[data-loading="bull-line"]:after{
    animation-delay: .2s;
    -webkit-animation-delay: .2s
}
[data-loading="bull-line"]:before{
    animation-delay: .4s;
    -webkit-animation-delay: .4s
}
[data-loading="bull-circle"]{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-animation: bullScale infinite .75s cubic-bezier(.21,.53,.56,.8);
            animation: bullScale infinite .75s cubic-bezier(.21,.53,.56,.8);
}
@-webkit-keyframes bullScale {
    0% {
        -webkit-transform: scale(.1);
           -moz-transform: scale(.1);
              -o-transform:scale(.1);
                transform: scale(.1);
                opacity: 1;

    }
    70% {
        -webkit-transform: scale(.8);
           -moz-transform: scale(.8);
              -o-transform:scale(.8);
                transform: scale(.8);
                opacity: .7;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bull-scale {
    0% {
        -webkit-transform: scale(.1);
           -moz-transform: scale(.1);
              -o-transform:scale(.1);
                transform: scale(.1);
                opacity: 1;

    }
    70% {
        -webkit-transform: scale(.8);
           -moz-transform: scale(.8);
              -o-transform:scale(.8);
                transform: scale(.8);
                opacity: .7;
    }
    100% {
        opacity: 0;
    }
}
[data-loading="circle-apinner"]{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: circle-apinner .5s infinite linear;
    box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                21px -21px 0 -5px rgba(255,255,255,.2),
                30px 0px 0 -5px rgba(255,255,255,.2),
                21px 21px 0 -5px rgba(255,255,255,.2),
                0px 30px 0px -5px rgba(255,255,255,.2),
                -21px 21px 0 -5px rgba(255,255,255,.2),
                -30px 0px 0 -5px rgba(255,255,255,.2),
                -21px -21px 0 -5px rgba(255,255,255,.2);
}
@keyframes circle-apinner {
    12.5% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,1),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    25% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,1),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    37.5% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,3),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    50% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,1),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    62.5% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,1),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    75% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,1),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    87.5% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,1),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    100% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,1);
    }
}
@-webkit-keyframes circle-apinner {
    12.5% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,1),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    25% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,1),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    37.5% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,3),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    50% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,1),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    62.5% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,1),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    75% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,1),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    87.5% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,1),
                    -21px -21px 0 -5px rgba(255,255,255,.2);
    }
    100% {
        box-shadow: 0px -30px 0px -5px rgba(255,255,255,.2),
                    21px -21px 0 -5px rgba(255,255,255,.2),
                    30px 0px 0 -5px rgba(255,255,255,.2),
                    21px 21px 0 -5px rgba(255,255,255,.2),
                    0px 30px 0px -5px rgba(255,255,255,.2),
                    -21px 21px 0 -5px rgba(255,255,255,.2),
                    -30px 0px 0 -5px rgba(255,255,255,.2),
                    -21px -21px 0 -5px rgba(255,255,255,1);
    }
}
[data-loading="bull-fade"]{
    position: relative;
    width: 15px;
    height: 15px;
    background-color: rgba(255,255,255,0);
    border-radius: 50%;
    animation: bull-fade infinite .7s cubic-bezier(.21,.53,.56,.8);
    animation-delay: .2s;
    -webkit-animation-delay: .2s
}
[data-loading="bull-fade"]:after,
[data-loading="bull-fade"]:before{
    position: absolute;
    top: 0;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0);
    animation: bull-fade infinite .7s cubic-bezier(.21,.53,.56,.8);
}
[data-loading="bull-fade"]:after{
    left: -20px;
}
[data-loading="bull-fade"]:before{
    right: -20px;
    animation-delay: .4s;
    -webkit-animation-delay: .4s
}
@keyframes bull-fade {
    0% {
        background-color: rgba(255,255,255,1);
    }

    100% {
        background-color: rgba(255,255,255,0);
    }
}
