#box1,
#box2{
    width: 800px;
    margin: 20px auto;
    height: 200px;
}
ul li{
    list-style: none;
    float: left;
    margin: 15px;
    width: 100px;
}
ul li img{
    width: 100px;
    height: 100px;
}
