.header-wrap{
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 2px 0 2px 2px rgba(0,0,0,.2);
  .user-info{
    position: absolute;
    top: 18px;
    right: 15px;
  }
  .el-dropdown-link{
    cursor: pointer;
  }
  .avatar{
    width: 30px;
    height: 30px;
  }
}
