*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.box{
    position: absolute;
    top:30px;
    left: 25%;
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}
label{
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;

    display: inline-block;
    border: 1px solid #eee;
}
input{
    opacity: 0;
}
.bot{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    transition: all .3s;
}
.bot.active{
    bottom: 0;
}
ul{
    list-style: none;
    border-top: 1px solid #eee;
}
.left{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}
.num-item{
    width: 33.3333%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    align-self: center;
    cursor: pointer;
}
.num-item:nth-child(1),
.num-item:nth-child(2),
.num-item:nth-child(4),
.num-item:nth-child(5),
.num-item:nth-child(7),
.num-item:nth-child(8),
.num-item:nth-child(10),
.num-item:nth-child(11){
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}
.num-item:nth-child(3),
.num-item:nth-child(6),
.num-item:nth-child(9),
.num-item:nth-child(12){
    border-bottom: 1px solid #eee;
}
.mock-up{
    z-index: 9999999999;
    position: absolute;
}
.mock-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    letter-spacing: 1px;
}
.cursor{
    color: rgb(50, 219, 249);
    -webkit-animation: circle infinite 1.4s linear;
            animation: circle infinite 1.4s linear;
}
@keyframes circle {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
